flask
flask-cors
werkzeug
python-dotenv
requests
transformers
beautifulsoup4
langchain
langchain-community
langchain-text-splitters
chromadb
pypdf
sentence-transformers
faiss-cpu
docx2txt
bcrypt
mysql-connector-python
langchain_google_genai
duckduckgo_search
fastapi
uvicorn
python-multipart
scikit-learn
